<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu products-dropdown">
          <ul
            id="nav-tab-products"
            class=" nav nav-tabs nav-fill products--dropdown-content"
            data-picked="Bed"
            role="tablist"
          >
            <li>
              <a
                class="nav-item nav-link active"
                id="nav-bed-tab"
                data-toggle="tab"
                href="#tab-bed"
                role="tab"
                aria-controls="nav-bed"
                aria-selected="true"
                >Bed</a
              >
            </li>
            <li>
              <a
                class="nav-item nav-link"
                id="nav-chair-tab"
                data-toggle="tab"
                href="#tab-chair"
                role="tab"
                aria-controls="nav-chair"
                aria-selected="false"
                >Chair</a
              >
            </li>
            <li>
              <a
                class="nav-item nav-link"
                id="nav-sofa-tab"
                data-toggle="tab"
                href="#tab-sofa"
                role="tab"
                aria-controls="nav-sofa"
                aria-selected="false"
                >Sofa</a
              >
            </li>
            <li>
              <a
                class="nav-item nav-link"
                id="nav-table-tab"
                data-toggle="tab"
                href="#tab-table"
                role="tab"
                aria-controls="nav-table"
                aria-selected="false"
                >Table</a
              >
            </li>
            <li>
              <a
                class="nav-item nav-link"
                id="nav-dining-tab"
                data-toggle="tab"
                href="#tab-dining"
                role="tab"
                aria-controls="nav-dining"
                aria-selected="false"
                >Dining</a
              >
            </li>
            <i class="fas fa-bars products-hamburger"></i>
          </ul>
        </div>
      </div>
    </div>
    <div id="nav-tabContent" class="tab-content">
      <div
        id="tab-bed"
        class="row tab-pane fade show active"
        role="tabpanel"
        aria-labelledby="nav-bed-tab"
      >
        <div class="row product-slider-container">
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/1.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/2.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/3.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/4.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 20.00</div>
                    <div class="btn-main-small no-hover">$ 15.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/5.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/6.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/7.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 25.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide  col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/8.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 20.00</div>
                    <div class="btn-main-small no-hover">$ 15.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="tab-chair"
        class="row tab-pane fade show"
        role="tabpanel"
        aria-labelledby="nav-chair-tab"
      >
        <div class="row chair-slider-container">
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/1.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/2.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/3.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/3.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/3.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="tab-sofa"
        class="row tab-pane fade show"
        role="tabpanel"
        aria-labelledby="nav-sofa-tab"
      >
        <div class="row sofa-slider-container">
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/2.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/8.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/5.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="tab-table"
        class="row tab-pane fade show"
        role="tabpanel"
        aria-labelledby="nav-table-tab"
      >
        <div class="row table-slider-container">
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/2.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/8.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/5.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/2.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/8.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/5.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="tab-dining"
        class="row tab-pane fade show"
        role="tabpanel"
        aria-labelledby="nav-dining-tab"
      >
        <div class="row dining-slider-container">
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/6.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/4.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item">
            <div class="slide col-xl-3 col-lg-4 col-md-6 col-s-12">
              <div class="product-box">
                <div
                  class="photo"
                  style="background-image: url(images/products/2.jpg);"
                >
                  <div class="sale">sale</div>
                  <div class="buttons">
                    <a href="#" class="btn-main-small">Quick View</a>
                    <a href="#" class="btn-main-small"
                      ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                    >
                  </div>
                </div>
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
                <div class="line"></div>
                <div class="actions">
                  <div class="outlines">
                    <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                    <a href="#" class="btn-outline"
                      ><i class="fas fa-exchange-alt"></i
                    ></a>
                  </div>
                  <div class="price">
                    <div class="old-price">$ 35.00</div>
                    <div class="btn-main-small no-hover">$ 30.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
